@font-face {
    font-family: 'custom1';
        src: url('fonts/Grand9KPixelRegular.woff2') format('woff2'),
            url('fonts/Grand9KPixelRegular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
            font-family: sans-serif;
    }

    body {
        background: conic-gradient(
            #ffd7fd 90deg,
            #b800d4 90deg 180deg,
            #ffd7fd 180deg 270deg,
            #b800d4 270deg
        );
        background-repeat: repeat ;
        background-size: 60px 60px;
        background-position: top left;
        animation: 3s ease-in 1s infinite reverse both running slidein;
        
        padding-left: 15%;
        padding-right: 15%;
    }

    .text_shadow{
        background-color: rgba(0, 0, 0, 0.697);
        color: white;
        display: inline-block;
        padding: 0.25%;
      }

    /* Classes */
    .bon_container_top{
        display: inline-flexbox;
        color: rgb(255, 237, 254);
        border: 10px solid rgb(42, 1, 64);
        background-color: rgb(71, 3, 98);
        text-align: center;
        padding: 12px;
      }
      .bon_container_links{
        display: inline-block;
        background-color: rgb(104, 77, 115);
        border: 10px solid rgb(42, 1, 64);
        color: rgb(4, 4, 4);
        padding: 12px 36px;
        overflow: hidden;
        text-align: center;
      }

    .bon_container    {
        display: inline-flexbox;
        background-color: rgb(245, 218, 255);
        border: 10px solid rgb(26, 7, 73);
        color: rgb(4, 4, 4);
        padding: 12px 36px;
    }

    .pixel_font{
        font-family: custom1;
    }


    .white_link:visited, .white_link:active, .white_link:disabled, .white_link:enabled, .white_link{
        color: white;
    }

    .white_link:hover{
        color: paleturquoise;
    }

    .keep_aspect{
        object-fit: contain;
    }

    .float_left{
        float: inline-start;
    }

    .container{
        display: inline-flexbox;
    }

    .embed_padding{
        padding: 16px;
    }

    .half_image{
        max-width: 100%;
    }

    .center{
        align-content: center;
    }