
@font-face {
  font-family: 'minecraft-font';
  src: url('fonts/minecraftia-regular-webfont.woff2') format('woff2'),
       url('fonts/minecraftia-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "alternative-font";
  src: url("");
}

h1 {
    color: rgb(75, 3, 95);
    background-color: rgb(198, 17, 189);
    border: 4px solid black;
    font-family: "Gill Sans Extrabold", sans-serif;
  }
  
  p {
    color: rgb(0, 0, 0);
    background-color: rgb(251, 233, 250);
    font-family: "minecraft-font", serif;
  }
